* {
    font-family: 'Outfit';
}
body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 700px;
    position: relative;
}
.attribution {
    position: absolute;
    bottom: 0px;
    color: hsl(215, 51%, 70%);
    font-size: 11px;
}
a {
    color: hsl(0, 0%, 100%);
    transition-duration: 100ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
a:hover {
    color: hsl(178, 100%, 50%);
}
.cont {
    width: 288px;
    height: 500px;
}
.card {
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 3%;
}
.imgcont {
    display: flex;
    width: 248px;
    justify-content: center;
    position: relative;
}
.mainimg {
    border-radius: 3%;
    width: 248px;
}
.ey {
    opacity: 0%;
    transition-duration: 150ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.ey:hover {
    opacity: 100%;
    cursor: pointer;
    
}
.eycvr {
    position: absolute;
    background-color: hsl(178, 100%, 50%);
    width: 248px;
    height: 248px;
    opacity: 50%;
    left: 0px;
    border-radius: 3%;
}
.eyimg {
    position: absolute;
    top: 104px;
    left: 104px;
    width: 40px;
    z-index: 1;
}
.title {
    font-size: 18px;
    color:hsl(0, 0%, 100%);
    font-weight: 600;
    width: 150px;
    transition-duration: 100ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.title:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.main {
    font-size: 15px;
    color: hsl(215, 51%, 70%);
    font-weight: 200;
    margin: 19px 0px;
}
.count {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.eth {
    display: flex;
    align-items: center;
}
.ethimg {
    height: 15px;
}
.ethtxt {
    color: hsl(178, 100%, 50%);
    padding: 0px 5px;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
}
.time {
    display: flex;
    align-items: center;
}
.timimg {
    height: 15px;
}
.timetxt {
    color: hsl(215, 51%, 70%);
    padding: 0px 5px;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
}
.splt {
    margin: 0px;
    height: 1px;
    background-color: hsl(215, 51%, 70%);
}
.footer {
    display: flex;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 10px;
}
.av {
    width: 25px;
    border:hsl(0, 0%, 100%) solid 1px;
    border-radius: 50%;
    margin-right: 13px;
}
.end {
    margin: 0px;
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}
.jul {
    color: hsl(0, 0%, 100%);
}
.jul:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    transition-duration: 100ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
@media (max-width: 375px) {
    body {
        width: 375px;
        height: 450px;
    }
    .cont {
        width: 188px;
        height: 300px;
    }
    .card {
        padding: 10px;
    }
    .attribution {
        font-size: 8px;
    }
    .imgcont {
        width: 168px;
    }
    .mainimg {
        width: 168px;
    }
    .eycvr {
        width: 168px;
        height: 168px;
    }
    .eyimg {
        width: 30px;
        left: 69px;
        top: 69px;
    }
    .title {
        font-size: 13px;
        width: 107px;
    }
    .main {
        font-size: 10px;
        margin: 14px 0px;
    }
    .count {
        margin-bottom: 10px;
    }
    .ethimg {
        height: 12px;
    }
    .ethtxt {
        font-size: 10px;
        padding: 0px 3px;
    }
    .timimg {
        height: 12px;
    }
    .timetxt {
        font-size: 10px;
        padding: 0px 3px;
    }
    .footer {
        margin-top: 13px;
        margin-bottom: 5px;
    }
    .av {
        width: 20px;
        margin-right: 11px;
    }
    .end {
        font-size: 10px;
    }
}